= provide(:title, "新規投稿")
h1 新規投稿

= render partial: 'error_message', locals: { post: @post }

= form_with model: @post, local: true, url: confirm_new_post_path do |f|
  = render partial: 'form', locals: { f: f }
